<!doctype html>
<html>
<head>
    <title>Spell Study Guide</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="index">

        <section class="home-page">
            <h1 class="main">Spell Study Guide</h1>
            <a href="/login" class="btn btn-default login">Login</a>
            <a href="/signup" class="btn btn-default signup">Sign Up</a>
        </section>
       




</body>
</html>
