body{
  padding-top:80px;
  word-wrap:break-word;
}

img{
  height: 200px;
}

h1 {
  font-weight: bold;
}

.Gryffindor { 
  background-image: url(../img/gryffindor.jpg);
  background-size: 185px;
  background-position: left 50px top 50px;
  background-repeat: no-repeat;
}

.Ravenclaw {
  background-image: url(../img/ravenclaw.jpg);
  background-size: 185px;
  background-position: left 50px top 50px;
  background-repeat: no-repeat;
}

.Hufflepuff {
  background-image: url(../img/hufflepuff.jpg);
  background-size: 185px;
  background-position: left 50px top 50px;
  background-repeat: no-repeat;
}

.Slytherin {
  background-image: url(../img/slytherin.jpg);
  background-size: 185px;
  background-position: left 50px top 50px;
  background-repeat: no-repeat;
}

li { 
  list-style: none;
}

.home-page {
  margin-left: 40%;
}

.index {
  background-image: url(../img/hogwarts.jpg);
  background-size: cover;
}


@font-face {
  font-family: Harry_P;
  src: url(harry_p/HARRYP__.TTF);
}

.main {
  font-family: Harry_P;
  color: white;
  font-size: 14.6rem;
  width: 100%;
  margin-top: 150px;
  margin-left: -28%;
  text-shadow: 2px 0 #e4a332, -2px 0 #e4a332, 0 2px #e4a332, 0 -2px #e4a332,
             1px 1px #e4a332, -1px -1px #e4a332, 1px -1px #e4a332, -1px 1px #e4a332;
}

.login, .signup {
  color: white;
  background-color: #000004;
  font-weight: bold;
  
}

.login {
  margin-left: 8%;
}

.header {
  font-size: 11.6rem;
  margin: 0;
}

.email, .password {
  color: black;
  text-shadow: 2px 0 white, -2px 0 white, 0 2px white, 0 -2px white,
  1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
  font-size: 2rem;
}

.house {
  width: 75%;
  height: 35px;
}

.submit {
  margin-top: 10px;
  background-color: #e4a332;
  color: white;
  padding: 15px;
  border-radius: 8%;
  font-size: 1.5rem;
  font-weight: bold;
}

.account {
  color: white;
}

.guide {
  font-family: Harry_P;
  font-size: 10rem;
}

.spell-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.spells {
  padding: 20px;
  height: 200px;
  width: 25%;
}

.spell-container {
  width: 100%;
}

.get-spell {
  margin-left: 46%;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 4%;
}